/* intro */

.interna-sabores {
    background: url("../img/capa-sabores.jpg") no-repeat center;
    text-align: center;
    color: #fff;
    background-size: cover;

}

.interna-sabores h1 {
    padding-top: 20px;
    font-size: 48px;
    font-weight: bold;
    text-transform: uppercase;
}

.interna-sabores p {
    font-size: 18px;
}

.interna-sabores p:before {
    content: "";
    display: block;
    width: 40px;
    height: 3px;
    background: #fff;
    border-radius: 0 0 10px 10px;
    margin: -6px auto 10px auto;
}

/* li */

.produto_item {
    padding: 60px 0 40px;
}

.produto_item h2 {
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-size: 48px;
    font-weight: bold;
    position: relative;
    top: -190px;
    letter-spacing: .1em;
    margin-bottom: -67px;
}

.produto_item h2:before {
    content: "";
    display: block;
    width: 60px;
    height: 6px;
    background: #fff;
    border-radius:10px 10px 0 0;
    margin: 0px auto;
}

.produto_item h2:after {
    content: "";
    display: block;
    width: 60px;
    height: 6px;
    background: #fff;
    border-radius: 0 0 10px 10px;
    margin: 0px auto;
}

.icon_item img {
    background-color: #7E1416;
}

.produto_info {
    background: #000;
}

.produto_info p {
    color: #fff;
    font-size: 18px;
    line-height: 24px;
    padding: 54px 40px;
    text-align: center;
}

.produto_info ul li {
    text-transform: uppercase;
    font-size: 18px;
    background-color: #7E1416;
    line-height: 20px;
    color: #fff;
    float: left;
    width: 229px;
    height: 49px;
    text-align: center;
    padding: 15px 0;
}

.produto_info ul li:nth-child(1), .produto_info ul li:nth-child(2) {
    margin-bottom: 2px;
}

.produto_info ul li:nth-child(even) {
    margin-left: 2px;
}